producer\datatry\try-1.csv
producer\datatry\try-2.csv
producer\datatry\measurements.csv_part_1.csvdata/measurements_part_1.csv
frontend/node_modules/.cache/default-development/0.pack
producer/data/measurements_reversed.csv
